
body{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
    font-weight: 900;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
.flexcntainer{
    display: flex;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
    margin-bottom: 100px;
}
.half-width{
    margin-left: 40px;
    margin-top: 10px;
    width: 50%;
}
.orng{
    color: orange;
}
.linkBtn{
    padding: 10px 30px;
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    font-weight: 500;
    color: white;
    margin-top: 30px;
    border-radius: 5px;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dreamBig{
    padding-right: 50px;
}
.xp{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px gray;   
    margin-left: 5%;
    margin-right: 5%;  
}
footer p{
    margin-top: 80px;
    text-align: center;
}